<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Your freedom to transact is a human right. Swap without intermediation peer-to-peer, cross chain.">
    <meta property="og:title" content="Liquality">
    <meta property="og:url" content="http://liquality.io">
    <meta property="og:description" content="Your freedom to transact is a human right. Swap without intermediation peer-to-peer, cross chain.">
    <meta property="og:image" content="http://liquality.io/images/Liquality_Illustration_SolutionLogo_082218-01.png"/>
    <meta name="google-site-verification" content="my7Ej7fp3Et9zdWpXZgNAYovV79-ASWVBYWWwQRTA3Y" />

    <title><%= current_page.data.title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="canonical" href="http://liquality.io" />
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "fonts" %>
    <%= stylesheet_link_tag "nav" %>
    <%= stylesheet_link_tag "padding" %>
    <%= stylesheet_link_tag "shapes" %>
    <%= stylesheet_link_tag "footer" %>
  </head>
  <body>
    <%= partial "layouts/header" %>
    <%= yield %>
    <%= partial "layouts/footer" %>

    <%= javascript_include_tag "site" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125155743-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125155743-1');
    </script>
  </body>
</html>
